@mjml()
  <mjml>
    <mj-body>
      <mj-section>
        <mj-column>
          <mj-text font-size="20px" color="#333">
            This is a test email
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end
